<h2>Movies having the same director:</h2>
  <ul>
    <% @similar_movies.each do |movie_name| %>
      <li>
        <%= movie_name %>
      </li>
    <% end %>
  </ul>
  <%= link_to 'Back', movies_path %>
