<p id="notice"><%= notice %></p>

<p>
  <strong>Field:</strong>
  <%= @research_interest.field %>
</p>

<%= link_to 'Edit', edit_research_interest_path(@research_interest) %> |
<%= link_to 'Back', research_interests_path %>
